<header [class.headerDark]="darkMode">



    <div class="header-left">
        <img *ngIf="!darkMode" src="/assets/img/logo-white.png">
        <img *ngIf="darkMode" src="/assets/img/logo-black.png">
        <div [class.darkLinks]="darkMode"><p>SI</p></div>
    </div>

    <div [class.darkLinks]="darkMode">
        <a routerLink="/">Home</a>
        <!-- <a href="/">Curriculum</a> -->
        <!-- <a href="/">Projects</a> -->
        <a href="/data-protection">Data protection</a>
        <a routerLink="/imprint">Imprint</a>
    </div>
</header>